header {
    width: 100%;
    height: 100px;
    background-color: black;
    line-height: 3.3;
    padding:30px;
}

aside {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

main {
    width:79%;
    display: inline-block;
    vertical-align: top;
}

main article {
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

#sidenav {
    display: none;
    position: fixed;
    right: 0;
    z-index: 99;
    background-color: black;
    top: 0;
    bottom: 0;
    width: 40%;
}

#sidenav-button {
    display: none;
}

@media (min-width: 375px)  and (max-width:768px) {
    aside {
        width: 100%;
        display: block;
    }
    
    main {
        width: 100%;
        display: block;
    }
}

@media (min-width:2000px) {
    header {
        height: 8vh;
    }

    aside {
        height: 87vh;
    }

    main {
        height: 87vh;
    }
    footer {
        height: 5vh;
    }
}
